html { 
  background: url(../images/create_account.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body { height: 100%; margin: 0; padding: 0; }

#main{
	position: fixed;
	width: 700px;
	height: 600px;
	background-color: rgba(0,0,0,0.7);
	left: 50%;
	margin-left: -350px;
	top: 50%;
	margin-top: -260px;
}

#title {
	position: absolute;
	height: 80px;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
}

h1{
  margin: 0;
  margin-left: 25px;
  line-height: 80px;
  color: #FFFFFF;
  font-size: 25pt;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}


#loginButton{
  margin: 120px 0px 0px 0px;
  position: relative;
}

#fbButton{
  background-color: #3b5998;
  color: #FFFFFF;
  padding: 10px;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10pt;    
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}


#backToLogin{
  color: #FFF;
  padding: 10px;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10pt;    
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

#fbButton:hover{
  background-color: #2f4779;
}

#orEmail{
	position: relative;
	top: 10px;
	color: #FFF;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16pt;    
}

#inputFields p{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFF;
  font-size: 15pt;
}

#inputFields{
  position: relative;
  margin-top: 30px;
  width: 500px;
  height: 210px;
  left: 25px;
}

.inputText{
  font-size: 14px;
  min-height: 32px;
  padding: 8px 10px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  width: 260px;
  background: rgba(0,0,0,0.5);
  border: 1px solid #666;
  color: #ccc;
  margin: 6px 0;
}

.inputText:focus{
  background-color: #FFF;
  box-shadow: 0 0 5px #FFF;
  border: 1px solid rgba(81, 203, 238, 1);
  color: #333;
}

.sendUpdates{
	color: #ccc;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#signUp {
  padding: 11px 20px 11px 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #2ecc71;
  border: 0px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

form{
	margin: 0;
}

.error{
	color: red;
	font-size: 12px;
	display: inline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#emailTakenWarning {
  position: relative;
  font-size: 12px;
  display: inline;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2ecc71;
  margin-bottom: 10px;
  visibility: hidden;
}